<!doctype html>

<html>
<head>
  <title>Play a Game</title>
</head>
<body>
    <form action = "/madlib">
        Name the hero of our story: <input type= "text" name="name"> <label>Color</label><br>
        Name a color you find energetic: <input type= "text" name="color"> <label>Color</label><br>
        What's the first noun that comes to your mind? <input type= "text" name="noun"> <label>Color</label><br>
        What's an adjective that you think sounds funny?: <input type= "text" name="adjective"> <label>Color</label><br>
        <input type="submit">
      </form>
</body>
</html>